// Place all the styles related to the landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section, footer, article, article {
	display: block;
}

#big-wrapper {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 20px;
	text-align: left;
	height: 700px;
	width: 1250px;
	border: 1px solid black;

		#main-nav {
			list-style: none;
			text-align: center;
			border: 1px solid black;
			padding: 10px;
			margin: 2px;
			width: 200px;
			float: left;

			li#link {
				border: 1px solid black;
				margin-bottom: 1px;
			}
		}

		#welcome-section {
			width: 500px;
			text-align: center;
			float:left;
			margin: 20px;
			
		}

		#information-section {
			width: 200px;
			float: left;
			margin: 20px;
		}

		#social {
			float: left;
			width: 200px;
		}	
}
#footer {
	margin-left: 250px;
	margin-right: 250px;
	border: 1px solid black;
	height: 125px;
	width: 1250px;
	
	#the-footer {
		margin-top: 5px;
		text-align: center;
		border: 1px solid black;
	}
}